<!DOCTYPE html>
<html>
<body>

<h2>Search/Filter Dropdown</h2>
<p>Click on the button to open the dropdown menu, and use the input field to search for a specific dropdown link.</p>

<div class="depts">
  <div id="depts" class="dropdown-content">
  </div>
</div>

<div class="drop">
  <div id="drop" class="dropdown-content">
  </div>
</div>

<div class="tutor">
  <div id="tutor" class="dropdown-content">
  </div>
</div>

<button onclick="connect()">CONNECT</button>
<button onclick="teach()">TEACH</button>

<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  //addSelect('dropdown')
    document.getElementById("myDropdown").classList.toggle("show");
}
function Get(yourUrl){
    var Httpreq = new XMLHttpRequest(); // a new request
    Httpreq.open("GET",yourUrl,false);
    Httpreq.send(null);
    return Httpreq.responseText;          
}

function teach(){
    var dept_dd = document.getElementById('depts_dd');
    var dept_id = dept_dd.options[dept_dd.selectedIndex].value;
    var course_dd = document.getElementById('drop_dd');
    var cid = course_dd.options[course_dd.selectedIndex].value;
    request = './willtutor?cid="' + cid + '"&dept_id="' + dept_id + '"';
    Get(request);
}

function connect(){
    var dept_dd = document.getElementById('depts_dd');
    var dept_id = dept_dd.options[dept_dd.selectedIndex].value;
    var course_dd = document.getElementById('drop_dd');
    var cid = course_dd.options[course_dd.selectedIndex].value;
    var tutor_dd = document.getElementById('tutor_dd');
    var tutor = tutor_dd.options[tutor_dd.selectedIndex].value;
    request = './connect?tutor="' + tutor + '"&cid="' + cid + '"&dept_id="' + dept_id + '"';
    Get(request);
}

function addSelect(n) {
   console.log(n);
   var newDiv=document.createElement('div');
   var json_obj = JSON.parse(Get('./courses?deptid="' + n + '"'));
   console.log(json_obj);
   var html = '<select id="drop_dd" onchange="loadtutor(this.options[this.selectedIndex].value,' + n + ');">';
   html += '<option disabled selected value> -- select an option -- </option>';
   for(i = 0;i < json_obj.length;i++){
  html += '<option value='+json_obj[i][0]+'>'+json_obj[i][1]+'</option>';
  }
   /*for(i = 0; i < dates.length; i++) {
       html += "<option value='"+dates[i]+"'>"+dates[i]+"</option>";
   }*/
   html += '</select>';
   newDiv.innerHTML= html;
   document.getElementById("drop").innerHTML = "";
   document.getElementById("drop").appendChild(newDiv);
   //document.getElementById("drop").classList.toggle("show");
   document.getElementById("drop").classList.add("show");
}

function loadtutor(cid, dept_id) {
   //console.log(n);
   var newDiv=document.createElement('div');
   var json_obj = JSON.parse(Get('./availabletutors?cid="' + cid + '"&dept_id="' + dept_id + '"'));
   console.log(json_obj);
   var html = '<select id="tutor_dd">';
   html += '<option disabled selected value> -- select an option -- </option>';
   for(i = 0;i < json_obj.length;i++){
  html += '<option value='+json_obj[i][0]+'>'+json_obj[i][0]+ " " + json_obj[i][2] + ":" + json_obj[i][1] +'</option>';
  }
   /*for(i = 0; i < dates.length; i++) {
       html += "<option value='"+dates[i]+"'>"+dates[i]+"</option>";
   }*/
   html += '</select>';
   newDiv.innerHTML= html;
   document.getElementById("tutor").innerHTML = "";
   document.getElementById("tutor").appendChild(newDiv);
   //document.getElementById("drop").classList.toggle("show");
   document.getElementById("tutor").classList.add("show");
}

function getDepts() {
   var newDiv=document.createElement('div');
   var json_obj = JSON.parse(Get('./departments'));
   console.log(json_obj);
   var html = '<select id="depts_dd" onchange="addSelect(this.options[this.selectedIndex].value);">';
   html += '<option disabled selected value> -- select an option -- </option>';
   for(i = 0;i < json_obj.length;i++){
  html += '<option value='+json_obj[i][0]+'>'+ json_obj[i][0] + ' '+ json_obj[i][1]+'</option>';
  }
   /*for(i = 0; i < dates.length; i++) {
       html += "<option value='"+dates[i]+"'>"+dates[i]+"</option>";
   }*/
   html += '</select>';
   newDiv.innerHTML= html;
   document.getElementById("depts").appendChild(newDiv);
   document.getElementById("depts").classList.toggle("show");
}


window.onload = getDepts;

function filterFunction() {
  addSelect("dropdown");
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
        if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
        } else {
            a[i].style.display = "none";
        }
    }
}

</script>

</body>
</html>
