<!DOCTYPE html>
<html>
<head>

</head>
<body>

<h2>Search/Filter Dropdown</h2>
<p>Click on the button to open the dropdown menu, and use the input field to search for a specific dropdown link.</p>

<div class="drop">
	<div id="drop" class="dropdown-content">
  </div>
</div>

<div class="dropdown">
<button onclick="addSelect()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
    <a href="#about">About</a>
    <a href="#base">Base</a>
    <a href="#blog">Blog</a>
    <a href="#contact">Contact</a>
    <a href="#custom">Custom</a>
    <a href="#support">Support</a>
    <a href="#tools">Tools</a>
  </div>
</div>

<div class="depts">
	<div id="depts" class="dropdown-content">
  </div>
</div>


</body>
</html>

