<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Material Design Lite</title>

	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../static/favicon/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/favicon/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/favicon/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/favicon/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="../static/favicon/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="../static/favicon/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="../static/favicon/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="../static/favicon/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="../static/favicon/favicon-196x196.png" sizes="196x196" />
	<link rel="icon" type="image/png" href="../static/favicon/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="../static/favicon/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="../static/favicon/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="../static/favicon/favicon-128.png" sizes="128x128" />
	<meta name="application-name" content="Mango"/>
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-TileImage" content="../static/favicon/mstile-144x144.png" />
	<meta name="msapplication-square70x70logo" content="../static/favicon/mstile-70x70.png" />
	<meta name="msapplication-square150x150logo" content="../static/favicon/mstile-150x150.png" />
	<meta name="msapplication-wide310x150logo" content="../static/favicon/mstile-310x150.png" />
	<meta name="msapplication-square310x310logo" content="../static/favicon/mstile-310x310.png" />

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/kybarg/mdl-selectfield/mdl-menu-implementation/mdl-selectfield.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="../static/css/signup_styles.css">
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
  </head>
  <body>
    <div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
      <div class="demo-ribbon"></div>
      <main class="demo-main mdl-layout__content">
        <div class="demo-container mdl-grid">
		  <div class="mdl-cell"></div>
          <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell">
            <h3 align="center">Sign In</h3>
            <form role="form" action="login" method="POST">
				<div class="mdl-textfield mdl-js-textfield">
					<input class="mdl-textfield__input" name="email" type="email" id="email" autofocus required/>
					<label class="mdl-textfield__label" for="email">Email</label>
				</div><br/>
				<div class="mdl-textfield mdl-js-textfield">
					<input class="mdl-textfield__input" name="password" type="password" id="password" required/>
					<label class="mdl-textfield__label" for="password">Password</label>
				</div><br/><br/>
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="width:100%" type="submit" id="submit-button">Log In</button>
				<br/><br/>
			</form>
			<div style="text-align:center">
				<a href="/signup" style="font-size:14px;">Sign Up</a>
			</div>
          </div>
		  <div class="mdl-cell"></div>
        </div>
      </main>
    </div>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
	<script src="https://cdn.rawgit.com/kybarg/mdl-selectfield/mdl-menu-implementation/mdl-selectfield.min.js"></script>
  </body>
</html>